.mainBgColor {
  background-color: rgb(255, 89, 34);
}

.darkBgColor {
  background-color: rgb(49, 53, 61);
}

.greyBgColor {
  background-color: rgb(234, 235, 236);
}

.whiteBgColor {
  background-color: rgb(255, 255, 255);
}