.main_bg_color {
  background-color: #0e3556;
}

.main_bright_bg_color {
  background-color: #0e355655 !important;
}

.main_dark_bg_color {
  background-color: #1C3F64;
}

.second_dark_bg_color {
  background-color: #102a46;
}

.sub_bg_color {
  background-color: #d5b26e;
}

.dark_bg_color {
  background-color: rgb(49, 53, 61);
}

.grey_bg_color {
  background-color: rgb(234, 235, 236);
}

.white_bg_color {
  background-color: rgb(255, 255, 255);
}



.main_text_color {
  color: #0e3556 !important;
}

.main_dark_text_color {
  color: #1C3F64 !important;
}

.sub_text_color {
  color: #d5b26e !important;
}

.dark_text_color {
  color: rgb(49, 53, 61) !important;
}

.white_text_color {
  color: #fff !important;
}

.grey_text_color {
  color: rgb(179, 179, 179) !important;
}



.main_shadow {
  box-shadow: 0 0 15px 4px #0e355688;
}

.sub_shadow {
  box-shadow: 0 0 15px 4px #d5b26e88;
}

.dark_shadow {
  box-shadow: 0 0 15px 4px rgb(49, 53, 61, 0.3);
}


.sub_border_right {
  border-right: 2px solid #d5b26e;
}

.main_border_right {
  border-right: 2px solid #0e3556;
}

.white_border_right {
  border-right: 2px solid #fff;
}