.main_bg_color {
  background-color: #16588F;
}

.dark_bg_color {
  background-color: rgb(49, 53, 61);
}

.grey_bg_color {
  background-color: rgb(234, 235, 236);
}

.white_bg_color {
  background-color: rgb(255, 255, 255);
}



.main_text_color {
  color: #16588F !important;
}

.dark_text_color {
  color: rgb(49, 53, 61);
}

.white_text_color {
  color: #fff !important;
}



.main_button_shadow {
  box-shadow: 0 0 15px 4px #16588F88;
}

.dark_shadow {
  box-shadow: 0 0 15px 4px rgb(49, 53, 61, 0.3);
}