.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.rounded {
    border-radius: 12px;
}

.bold {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.cursor_info {
    cursor: help;
}

.space_between {
    justify-content: space-between;
}

.align_center {
    align-items: center;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

.no_decoration {
    text-decoration: none;
}

.sub_text {
    color: #777;
    font-weight: bold;
    font-size: 0.9em;
}

.divider {
    height: 3px;
    background-color: #DDD;
}

/* Auth Start */

.auth_form_title {
    font-size: 2em;
}

.auth_form_subtitle {
    font-weight: 300;
    font-size: .9em;
}

.auth_form_top_margin {
    margin-top: 5%;
}

.outlined {
    outline: 2px solid #d5b26e;
}

@media only screen and (max-width: 1900px) {
    
    .auth_form_top_margin {
        margin-top: 2%;
    }
    
}

/* Auth End */

.link {
    color: #000;
}

.simple_link {
    text-decoration: none;
}

.v-application a {
    text-decoration-color: #000;
}