* {
    font-family: 'Quicksand', sans-serif;
    word-wrap: break-word;
}


.app_padding_top {
    padding-top: 10%;
}

.auth_padding_top {
    padding-top: 5%;
}

.font_title {
    font-family: 'Oswald', sans-serif;
}

.app_animation {
    transition: .2s all linear;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #0B032D;
    border-radius: 20px;
    border: 2px solid #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 600px) {

    .auth_padding_top {
        padding-top: 15%;
    }
    
}